@font-face {
    font-family: 'tkng_display_promedium';
    src: url('fonts/tkngdisplaypro-medium-webfont.woff2') format('woff2'),
         url('fonts/tkngdisplaypro-medium-webfont.woff') format('woff'),
         url('fonts/TKNGDisplayPro-Medium.ttf') format('ttf');
    font-weight: medium;
    font-style: normal;

}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    color:white;
    font-family: 'Roboto', sans-serif;
}

body{
    background: black;
    font-family: sans-serif;
    margin-top:50px;
    padding:50px;
}

.title{
    font-size:xxx-large;
    font-family: 'tkng_display_promedium',sans-serif;
    text-transform: uppercase;
    padding:1rem;
}

.container{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: center;
    gap:15px;
}

article li{
    margin: 10px;
}

.item{
    background-color: rgb(127, 127, 127);
    display: block;
    padding: 2em;
    position:relative;
}

.item a{
    text-decoration: none;
}
